    <div class="flex" id="footer">
        <div id="scroll-indicator"></div>
        <div class="nav">
{#             <div>
                <a href="{{ path('home') }}">FAQ</a>
            </div> #}
            <div>
                <a href="{{ path('terms') }}">Termes et Conditions</a>
            </div>
            <div>
                <a href="{{ path('privacy') }}">Confidentialité</a>
            </div>
            <div>
                <a href="{{ path('cookies') }}">Cookies</a>
            </div>
            <div>
                <a href="mailto:contact@swipelive.fr">Contact</a>
            </div>
        </div>
        <div id="team">
            <a href="{{ path('home') }}" data-tooltip="Acheteurs">
                <img height="80" src="img/2.png" alt="">
            </a>
            <a href="{{ path('vendor') }}" data-tooltip="Vendeurs">
                <img height="80" src="img/3.png" alt="">
            </a>
            <a href="{{ path('influencer') }}" data-tooltip="Influenceurs">
                <img height="80" src="img/1.png" alt="">
            </a>
        </div>
        <div class="legals">
            <span class="full_year"></span> © Swipe Live - Tous droits réservés - Réalisé avec ❤️
        </div>
    </div>

    <script>
        document.getElementsByClassName('full_year')[0].append(new Date().getFullYear());

        var txtRotate = function (t, e, i) {
            (this.toRotate = e), (this.el = t), (this.loopNum = 0), (this.period = parseInt(i, 10) || 2e3), (this.txt = ""), this.tick(), (this.isDeleting = !1);
        };
        (txtRotate.prototype.tick = function () {
            var t = this.loopNum % this.toRotate.length,
                e = this.toRotate[t];
            this.isDeleting ? (this.txt = e.substring(0, this.txt.length - 1)) : (this.txt = e.substring(0, this.txt.length + 1)), (this.el.innerHTML = '<span class="wrap">' + this.txt + "</span>");
            var i = this,
                s = 200 - 100 * Math.random();
            this.isDeleting && (s /= 2),
                this.isDeleting || this.txt !== e ? this.isDeleting && "" === this.txt && ((this.isDeleting = !1), this.loopNum++, (s = 500)) : ((s = this.period), (this.isDeleting = !0)),
                setTimeout(function () {
                    i.tick();
                }, s);
        }),
        (window.onload = function () {
            for (var t = document.getElementsByClassName("txt-rotate"), e = 0; e < t.length; e++) {
                var i = t[e].getAttribute("data-rotate"),
                    s = t[e].getAttribute("data-period");
                i && new txtRotate(t[e], JSON.parse(i), s);
            }
            var o = document.createElement("style");
            (o.type = "text/css"), (o.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #FF37B0 }"), document.body.appendChild(o);
        });
    </script>
  </body>
</html>